
		<footer class="footer-distributed">
 
		<div class="footer-left">
 
		<h3>DEVARCHI<span>Technologies</span></h3>
 
		<p class="footer-links">
		<a href="#">Société</a>
	·
		<a href="#">Services</a>
	·
		<a href="#">Produits</a>
	·
		<a href="#">Showroom</a>
	·
		<a href="#">Recrutement</a>
	·
		<a href="#">Contact</a>
		</p>
 
		<p class="footer-company-name">devarchi &copy; 2020</p>
		</div>
 
		<div class="footer-center">
 
		<div>
		<i class="fa fa-map-marker"></i>
		<p><span>1 rue Antoine Volard
            84000 Avignon</span> Provence-Alpes-Côte d’Azur, France</p>
		</div>
 
		<div>
		<i class="fa fa-phone"></i>
		<p>06.95.31.27.71</p>
		</div>
 
		<div>
		<i class="fa fa-envelope"></i>
		<p><a href="mailto:contact@devarchi-technologies.fr">contact@devarchi-technologies.fr</a></p>
		</div>
 
		</div>
 
		<div class="footer-right">
 
		<p class="footer-company-about">
		<span>À propos la société</span>
        Fondée en Juillet 2019, DEVARCHI Technologies est une société spécialisée dans la gestion à distance des équipements.
		</p>
 
		<div class="footer-icons">
 
		<a href="#"><img src="https://img.icons8.com/material/144/000000/facebook--v1.png"/></a>
		<a href="#"><img src="https://img.icons8.com/material/96/000000/twitter-squared.png"/></a>
		<a href="#"><img src="https://img.icons8.com/material/144/000000/linkedin--v1.png"/></a>
		<a href="#"><img src="https://img.icons8.com/material/144/000000/github.png"/></a>
 
		</div>
 
		</div>
 
		</footer>
 